{% extends '../base.html' %}

{% load static %}
{% block title %}Cart{% endblock %}

{% block content %}
    {% include 'layouts/breadcrumbs.html' %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'shop:homepage' %}"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <form action="{% url 'cart:cart_detail' %}" name="new_cart" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if cart.products %}
                                {% for product in cart.products %}
                                <tr class="cart_item">
                                    <td class="cart__product__item">
                                        <img src="{{product.product.main_photo.url}}" alt="">
                                        <div class="cart__product__item__title">
                                            <h6><a href="{% url 'shop:product-details' pk=product.product.id %}">{{ product.product.name }}</a></h6>
                                            <div class="rating">
                                                {% with ''|center:5 as range %}
                                                {% for _ in range %}
                                                    {% if forloop.counter <= product.product.rait %}
                                                    <i class="fa fa-star"></i>
                                                    {% else %}
                                                    <i class="fa fa-star-o"></i>
                                                    {% endif %}
                                                {% endfor %}
                                                {% endwith %}
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ {{ product.product.price }}</td> 
                                    <td class="cart__quantity">
                                        <div class="pro-qty">                                            
                                            <input type="text" value={{product.quantity}} name="qty_{product.product.id}">
                                        </div>
                                    </td>
                                    <td class="cart__total">$ 0</td>
                                    <td class="cart__close"><a href="{% url 'cart:cart_remove' product_id=product.product.id %}"><span class="icon_close"></span></a></td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="{% url 'shop:shop' %}">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="{% url 'cart:cart_detail' %}"><span class="icon_loading"></span> Update cart</a>
                    </div>
                </div>
            </div>
            <input type="submit" value="Submit">
            </form>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">Apply</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>$ {{cart.subtotal}}</span></li>
                            <li>Total <span>$ {{cart.subtotal}}</span></li>
                        </ul>
                        <a href="#" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->
    <!-- Shop Cart Script Section Begin -->
    <script>
        let cart__product__item = document.querySelectorAll('.cart_item')
        for(let i = 0; i< cart__product__item.length; i++ ){
            product = cart__product__item[i]
            price = parseFloat(product.querySelector('.cart__price').textContent.replace('$ ',''))
            quantity = parseFloat(product.querySelector('.cart__quantity input').value)
            total = parseFloat(price * quantity).toFixed(1)
            product.querySelector('.cart__total').textContent = `$ ${total}`

            product.addEventListener('click', function(event){
                if (event.target.classList.contains('inc') || event.target.classList.contains('dec')){
                    target_price = parseFloat(cart__product__item[i].querySelector('.cart__price').textContent.replace('$ ',''))
                    new_quantity = parseFloat(cart__product__item[i].querySelector('.cart__quantity input').value)
                    mew_total = parseFloat(target_price * new_quantity).toFixed(1)
                    cart__product__item[i].querySelector('.cart__total').textContent = `$ ${mew_total}`
                    
                    let subtotal = 0
                    for(item of cart__product__item){
                        subtotal += parseFloat(product.querySelector('.cart__total').textContent.replace('$ ',''))
                    }
                    let cart__subtotal = document.querySelector('.cart__total__procced ul li span') 
                    cart__subtotal.textContent = `$ ${subtotal.toFixed(1)}`
                    let cart__total = document.querySelector('.cart__total__procced ul li:nth-child(2) span') 
                    cart__total.textContent = `$ ${subtotal.toFixed(1)}`   
                }
            })
            
        }
    </script>
    <!-- Shop Cart Script Section End -->
{% endblock %}   