{% extends '../base.html' %}

{% load static %}
{% block title %}Store{% endblock %}

{% block content %}
    {% include 'layouts/breadcrumbs.html' %}

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Categories</h4>
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="accordionExample">
                                    {% for tag in tags %}
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapse{{tag.name}}">{{tag.name}}</a>
                                        </div>
                                        <div id="collapse{{tag.name}}" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    {% for category in categories %}
                                                    <li><a href="{% url 'shop:shop' tag_slug=tag.name category_slug=category.slug %}">{{category.name}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}                                  
                                </div>
                            </div>
                        </div>
                        <form class="sidebar__filter" name="price_filter" method="get">
                            <div class="section-title">
                                <h4>Shop by price</h4>
                            </div>
                            <div class="filter-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="{{min_price}}" data-max="{{max_price}}"></div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <p>Price:</p>
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                            <button type="submit">Filter</button>
                            <a href="#" type="sub">Filter</a>
                        </form>
                        <div class="sidebar__sizes">
                            <div class="section-title">
                                <h4>Shop by size</h4>
                            </div>
                            <form class="size__list" method="post">
                                {% csrf_token %}
                                {% for size in sizes %}
                                <label for="{{size.size}}">
                                    {{size.size}}s
                                    <input type="checkbox" id="{{size.size}}" name="sizes" value="{{size.size}}" 
                                    {% if size.size in selected_sizes %}checked {% endif %}
                                    >
                                    <span class="checkmark"></span>
                                </label>
                                {% endfor %}  
                                <button type="submit">Submit</button>                             
                            </form>
                        </div>
                        <div class="sidebar__color">
                            <div class="section-title">
                                <h4>Shop by color</h4>
                            </div>
                            <form class="size__list color__list" method="post">
                                {% csrf_token %}
                                {% for color in available_colors %}
                                <label for="{{color.color}}">
                                    {{color.color}}s
                                    <input type="checkbox" id="{{color.color}}" name="colors" value="{{color.color}}" 
                                    {% if color.color in selected_colors %}checked {% endif %}
                                    >
                                    <span class="checkmark"></span>
                                </label>
                                {% endfor %}  
                                <button type="submit">Submit</button>                             
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        {% if products%}
                        {% for product in page_obj %}
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ product.main_photo.url }}">
                                    {% if product.is_new %}
                                    <div class="label new">New</div>
                                    {% endif %}
                                    {% if not product.available %}
                                    <div class="label stockout stockblue">Out Of Stock</div>
                                    {% endif %}
                                    {% if product.is_sale %}
                                    <div class="label sale">Sale</div>
                                    {% endif %}
                
                                    <ul class="product__hover">
                                        <li><a href="{{ product.main_photo.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li disabled>
                                            <form action="{% url 'cart:cart_add' product_id=product.id %}" name="cart_add_form_{{product.id}}" method="post">
                                                {% csrf_token %}
                                                {{ cart_product_form }}
                                                <a {% if product.available %}onClick="document.cart_add_form_{{product.id}}.submit()"{% else %}style="background: #525252;"{% endif %}><span class="icon_bag_alt"></span></a>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{% url 'shop:product-details' pk=product.id %}">{{ product.name }}</a></h6>
                                    <div class="rating">
                                        {% with ''|center:5 as range %}
                                        {% for _ in range %}
                                            {% if forloop.counter <= product.rait %}
                                            <i class="fa fa-star"></i>
                                            {% else %}
                                            <i class="fa fa-star-o"></i>
                                            {% endif %}
                                        {% endfor %}
                                        {% endwith %}
                                    </div>
                                    <div class="product__price">$ {{ product.price }}  {% if product.is_sale %}<span>$ {{ product.old_price }}</span>{% endif %}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-lg-4 col-md-6"><h3>No items!</h3></div>
                        {% endif %}
                        <div class="col-lg-12 text-center">
                            <div class="pagination__option">
                                {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo;</a>
                                <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                                {% endif %}
                                {% for i in page_obj.paginator %}
                                {% if forloop.counter == page_obj.number %}
                                {{ page_obj.number }}
                                {% else %}
                                <a href="?page={{forloop.counter}}">{{ forloop.counter }}</a>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

{% endblock %}